@import 'tailwindcss';

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/*VERY IMPORTANT: DOESN'T HAVE EXTRA SPACE ON MOBILE*/
html, body {
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.moving-gradient-background {
  background: 
    linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(45deg, #0a0a0a, #1a1a1a, #0a0a0a, #2a2a2a);
  background-size: 50px 50px, 50px 50px, 400% 400%;
  animation: moveGradient 10s ease infinite;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}